<%- include('partials/header') -%>

<div class="p-5 text-center bg-image" style="
      background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
      height: 400px;" >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Heading</h1>
          <h4 class="mb-3">Subheading</h4>
          <a class="btn btn-outline-light btn-lg" href="#!" role="button"
          >Call to action</a
          >
        </div>
      </div>
    </div>
  </div>



<!--<div class="container">--->
  <div class="container row mt-5">
      <!--<div class="col-6">-->
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>

          


          <h2 class="mb-4 text-center">Templates</h2>
          <div class="py-5">
            <div class="container">
              <div class="row hidden-md-up">
               <div class="col-md-4">
                  <div class="card mb-4">
                    <div class="card-block">
                      <h4 class="card-title">Partnership Agreement</h4>
                      <h6 class="card-subtitle text-muted">Category: Business, Corporate, Industrial, Individual</h6>
                      <p class="card-text p-y-1">Tap the card to fill out the details of the agreement.</p>
                      <a href="/partnership" class="card-link">Open</a>
                      <a href="/favourite" class="card-link">Bookmark</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4">
                    <div class="card-block">
                      <h4 class="card-title">Basic Contract Agreement (Influencing and Ambassadorial Agreement)</h4>
                      <h6 class="card-subtitle text-muted">Category: Business, Corporate </h6>
                      <p class="card-text p-y-1">Tap the card to fill out the details of the contract.</p>
                      <a href="/influencing" class="card-link">Open </a>
                      <a href="#" class="card-link">Bookmark</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4">
                    <div class="card-block">
                      <h4 class="card-title">Card title</h4>
                      <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                      <p class="card-text p-y-1">Some quick example text to build on the card title .</p>
                      <a href="#" class="card-link">link</a>
                      <a href="#" class="card-link">Second link</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="card mb-4">
                    <div class="card-block">
                      <h4 class="card-title">Card title</h4>
                      <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                      <p class="card-text p-y-1">Some quick example text to build on the card title .</p>
                      <a href="#" class="card-link">link</a>
                      <a href="#" class="card-link">Second link</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4">
                    <div class="card-block">
                      <h4 class="card-title">Card title</h4>
                      <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                      <p class="card-text p-y-1">Some quick example text to build on the card title .</p>
                      <a href="#" class="card-link">link</a>
                      <a href="#" class="card-link">Second link</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4">
                    <div class="card-block">
                      <h4 class="card-title">Card title</h4>
                      <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                      <p class="card-text p-y-1">Some quick example text to build on the card title .</p>
                      <a href="#" class="card-link">link</a>
                      <a href="#" class="card-link">Second link</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>






         <!---- <div class="mt-5">
            <h2 class="text-center">Add a post</h2>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Caption</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div class="col-6">
        <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>  
      </div> 
    </div>
  </div>
</div>-->
<%- include('partials/footer') -%>